In [49]:
import pandas as pd
df = pd.read_csv("ai.csv")
df

    Day   Outlook  Temp Humidity    Wind Tennis
0    D1     Sunny   Hot     High    Weak     No
1    D2     Sunny   Hot     High  Strong     No
2    D3  Overcast   Hot     High    Weak    Yes
3    D4      Rain  Mild     High    Weak    Yes
4    D5      Rain  Cool   Normal    Weak    Yes
5    D6      Rain  Cool   Normal  Strong     No
6    D7  Overcast  Cool   Normal  Strong    Yes
7    D8     Sunny  Mild     High    Weak     No
8    D9     Sunny  Cool   Normal    Weak    Yes
9   D10      Rain  Mild   Normal    Weak    Yes
10  D11     Sunny  Mild   Normal  Strong    Yes
11  D12  Overcast  Mild     High  Strong    Yes
12  D13  Overcast   Hot   Normal    Weak    Yes
13  D14      Rain  Mild     High  Strong     No

In [50]:
df.drop('Day',axis=1,inplace=True)
df

     Outlook  Temp Humidity    Wind Tennis
0      Sunny   Hot     High    Weak     No
1      Sunny   Hot     High  Strong     No
2   Overcast   Hot     High    Weak    Yes
3       Rain  Mild     High    Weak    Yes
4       Rain  Cool   Normal    Weak    Yes
5       Rain  Cool   Normal  Strong     No
6   Overcast  Cool   Normal  Strong    Yes
7      Sunny  Mild     High    Weak     No
8      Sunny  Cool   Normal    Weak    Yes
9       Rain  Mild   Normal    Weak    Yes
10     Sunny  Mild   Normal  Strong    Yes
11  Overcast  Mild     High  Strong    Yes
12  Overcast   Hot   Normal    Weak    Yes
13      Rain  Mild     High  Strong     No

In [51]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()

# Converting string labels into numbers.
df['Outlook']=le.fit_transform(df['Outlook'])
df['Temp']=le.fit_transform(df['Temp'])
df['Humidity']=le.fit_transform(df['Humidity'])
df['Wind']=le.fit_transform(df['Wind'])
df['Tennis']=le.fit_transform(df['Tennis'])

In [52]:
df

    Outlook  Temp  Humidity  Wind  Tennis
0         2     1         0     1       0
1         2     1         0     0       0
2         0     1         0     1       1
3         1     2         0     1       1
4         1     0         1     1       1
5         1     0         1     0       0
6         0     0         1     0       1
7         2     2         0     1       0
8         2     0         1     1       1
9         1     2         1     1       1
10        2     2         1     0       1
11        0     2         0     0       1
12        0     1         1     1       1
13        1     2         0     0       0

In [53]:
X = df[["Outlook","Temp","Humidity","Wind"]]
y = df[["Tennis"]]
print(X)
print(y)

    Outlook  Temp  Humidity  Wind
0         2     1         0     1
1         2     1         0     0
2         0     1         0     1
3         1     2         0     1
4         1     0         1     1
5         1     0         1     0
6         0     0         1     0
7         2     2         0     1
8         2     0         1     1
9         1     2         1     1
10        2     2         1     0
11        0     2         0     0
12        0     1         1     1
13        1     2         0     0
    Tennis
0        0
1        0
2        1
3        1
4        1
5        0
6        1
7        0
8        1
9        1
10       1
11       1
12       1
13       0

In [54]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2) # To cluster on the basis of number of users.
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [55]:
prediction = kmeans.predict(X)
prediction

array([0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0], dtype=int32)

In [59]:
from sklearn.metrics import accuracy_score
kmeans = KMeans(n_clusters=2) # Wind,Overcast,Humidity
kmeans.fit(X)
prediction_2 = kmeans.predict(X)
print("K=2",accuracy_score(prediction_2, y,))

K=2 0.35714285714285715

kmeans = KMeans(n_clusters=2) # play/not play , Wind, Overcast, Temp
kmeans.fit(X)
prediction_2 = kmeans.predict(X)
print("K=2",accuracy_score(prediction, y,))

In [60]:
kmeans = KMeans(n_clusters=3) # Outlook,Temp
kmeans.fit(X)
prediction_3 = kmeans.predict(X)
print("K=3",accuracy_score(prediction_3, y,))

K=3 0.2857142857142857

In [66]:
from sklearn.metrics.cluster import homogeneity_score
#homogeneity_score(labels_true, labels_pred)

#print("K=2", homogeneity_score(y,prediction_2))
z = y["Tennis"].to_array()
#y = y.to_array()
print("K=2", homogeneity_score(y,prediction_2))
print("K=3", homogeneity_score(y,prediction_3))

AttributeError: 'Series' object has no attribute 'to_array'

pandas.core.frame.DataFrame